[submodule "external/auojail"]
	path = external/auojail
	url = git@atreus.informatik.uni-tuebingen.de:ties/timing/schrank/automate.git
[submodule "external/automate"]
	path = external/automate
	url = git@atreus.informatik.uni-tuebingen.de:ties/timing/schrank/automate.git
