.coverage
*.pyc
\#*
.\#*
*~
jailhouse/
board_data/
kernels
.vscode/
*.egg-info/
*.orig
site
elbe-build*
initvm/
*.swp
.history/
.pytest_cache/
tmp/
.mypy_cache/
projects/
*.cpio
*.img
*.cell
deploy/
qemu/
*.cmd
*.mod
*.mod.c 
*.o
*.ko 
modules.order
Module.symvers

